<div class="col-md-4">
  <div class="well">
    <ul id="sidebarList" data-id="<%=character_id%>" data-token="<%=access_token%>">
      <li class="list-group-item"><img src="<%=char_image_loc%>" class="portrait"><strong><%= character_name %></strong></li>
      <li id="corp" class="list-group-item"></li>
      <li id="alliance" class="list-group-item"></li>
      <li id="wallet" class="list-group-item"></li>
      <li id="training" class="list-group-item"></li>
      <li id="skill_countdown" class="list-group-item">Time Till Completion: <strong id='days'></strong><strong id='hours'></strong><strong id='minutes'> </strong><strong id='seconds'></strong></li>
    </ul>
  </div>
</div>
