<% include partials/header %>
<% include partials/navbar %>
  <div class="container">
    <div class="col-md-8 col-sm-8">
      <strong><%= character_id %></strong>
      <strong><%= character_name %></strong>
    </div>
    <% include partials/sidebar %>

</div>
<script type="text/javascript" src="js/sidebar.js">

</script>
<% include partials/footer %>
