<% include partials/header %>
<% include partials/navbar %>
<div class="container">
  <div class = "col-md-8 col-sm-8">

    <a href="#" class="getAlliances btn btn-default">Get Alliances</a>
    <ul class="result list-group">
      <li class='list-group-item'>ID</li>
    </ul>
  </div>
</div>
<% include partials/footer %>
